.content_d {
	display: grid;
	grid-template-columns: 2fr 10fr;
}
.content_d a {
	text-shadow: none;
}

.dialoges {
	padding: 20px;
}

.content_dialoge {
	padding: 20px 0px 0px 0px;
	display: flex;
	justify-content: start;
}
.memders_ava img {
	width: 70px;
	height: 60px;
	border-radius: 50%;
}
.membars {
	padding: 10px 0px 0px 20px;
	font-size: 30px;
}

.membars a.active {
	font-size: 40px;
	color: #fff;
	text-shadow: 1px 3px 10px #000;
	transition: all 0.3s ease;
}

.messages {
	padding: 20px;
}
.message p {
	width: 200px;
	border: solid 1px #000;
	border-radius: 20px;
	padding: 20px 0px 0px 0px;
	font-size: 22px;
}
