.content_pi {
}
.item {
	display: flex;
	align-items: center;
	justify-content: center;
}
.item img {
	width: 50vw;
}
.bio {
	display: grid;
	grid-template-columns: 1fr 10fr;
}
.bio__ava {
	padding: 20px;
}
.bio__ava img {
	width: 200px;
	border-radius: 50%;
}
.bio__discription {
	padding: 20px 0px 0px 10px;
}
