.newpost {
	padding: 0px 0px 0px 20px;
}
.newpost__title {
	margin: 0px 0px 20px 15px;
	font-size: 40px;
}
.newpost__input {
	margin: 0px 0px 20px 10px;
}
.newpost__input textarea {
	width: 30%;
}
.newpost__btn {
	margin: 0px 0px 20px 10px;
}
