.form_controle {
	position: relative;
}

.form_controle span {
	padding: 0px 0px 0px 10px;
	color: rgb(255, 0, 0);
	font-size: 25px;
	font-weight: 700;
	border-radius: 15px;
}
.form_controle span:before {
	content: "";
}
.error textarea {
	border: 1px solid rgb(255, 0, 0);
}
.error input {
	border-bottom: 1px solid rgb(255, 0, 0);
}

.textarea_module {
	border-radius: 15px;
}
