.container_find {
	border-radius: 20px;
	background: #2e3439;
	padding: 20px;
}
.users {
}
.about_find {
	margin: 40px 0px 0px 0px;
	display: flex;
	align-items: center;
}
.avabtn {
	flex: 0 0 10%;
	text-align: center;
}
.avabtn img {
	/* margin: 0px 0px 10px 0px; */
	border-radius: 50%;
	width: 100px;
}
.profile_user {
	font-size: 20px;
	padding: 0px 10px;
	border-radius: 25px;
	background: #0b93f6;
	display: flex;
	justify-content: space-between;
	width: 30%;
}
.location {
	text-align: right;
}

.follow_btn span {
	margin: 0;
	font-size: 20px;
}
.follow_btn button {
	margin: 0;
}
