.contaner_log {
	border-radius: 20px;
	background: #2e3439;
	padding: 50px 0px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.login_block {
}

.input_form input {
	color: #b1b1b1;
	font-size: 30px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.33px;
	text-align: center;
}
.input_form .input {
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 10px;
	background: transparent;
	margin: 10px 0;
}

.form {
}

.input_form_box {
	font-size: 20px;
}
.title span {
	font-size: 40px;
}
